@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.p-hero {
  &__container {
    position: relative;
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(https://github.com/Seiya-Tagami/my-first-portfolio/blob/develop/images/sky.png?raw=true);
    background-position: center;
    background-size: cover;

    & h2 {
      position: absolute;
      font-size: 10rem;
      font-weight: 700;
      display: inline-block;
      background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(5, 5, 17, 1) 0%, rgba(161, 102, 255, 1) 97%, rgba(0, 212, 255, 1) 100%);
      background-size: 300% auto;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: slideIn 1.8s;
    }

    @keyframes slideIn {
      from {
        opacity: 0;
        transform: translateX(100px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
