@use "../../foundation/variables" as *;

.u-dark-mode {
  background-color: $color-black !important;
  color: $color-white;

  &-image {
    background-image: url(https://github.com/Seiya-Tagami/my-first-portfolio/blob/develop/images/nightsky.png?raw=true);
  }
}